#!/bin/sh

IAM=`whoami`
mkdir -p /tmp/${IAM}
ln -s /tmp/${IAM} /home/${IAM}/.cache
chmod 0700 /tmp/${IAM}

if [ -f $HOME/.Xdefaults ]; then
	xrdb -merge $HOME/.Xdefaults
fi

#xgamma -gamma 0.70

#export GTK_IM_MODULE_FILE=/usr/lib/gtk-3.0/3.0.0/immodules.cache

### fcitx ###
#export GTK_IM_MODULE=xim
#export GTK_IM_MODULE=fcitx
#export QT_IM_MODULE=fcitx
#export QT4_IM_MODULE="fcitx"
#export XMODIFIERS="@im=fcitx"

### ibus ###
#export XIM="ibus"
#export GTK_IM_MODULE="ibus"
#export QT_IM_MODULE="xim"
#export QT4_IM_MODULE="xim"
#export CLUTTER_IM_MODULE="ibus"
#export XIM_PROGRAM="ibus-daemon"
#export XIM_ARGS="-r --daemonize --xim"
#export XMODIFIERS="@im=ibus"
#ibus-daemon -rdx

### SCIM ###
#export GTK_IM_MODULE="scim"
#export QT_IM_MODULE="scim"
#export QT4_IM_MODULE=scim
#export QT4_IM_MODULE="xim"
#export GTK_IM_MODULE=scim-bridge
#export QT_IM_MODULE=scim-bridge
#export QT4_IM_MODULE=scim-bridge
#export XMODIFIERS="@im=SCIM"
#scim -d

### uim ###
#export GTK_IM_MODULE=uim
#export QT_IM_MODULE=uim
#uim-xim &
#export XMODIFIERS="@im=uim"

OOO_FORCE_DESKTOP="gnome"

XDG_CONFIG_HOME="${HOME}/.config"

dbus-launch openbox-session
